# Configurazioni server
NODE_ENV=development
PORT=3000

# Database
MONGODB_URI=mongodb+srv://mascittit2000_db_user:<db_password>@asura22.ipkexnt.mongodb.net/?retryWrites=true&w=majority&appName=Asura22

# JWT
JWT_SECRET=Roma-antica-suca-la-minchia34-45#57?-minchia-23#
JWT_EXPIRE=24h

# Frontend URL per CORS
FRONTEND_URL=http://localhost:3000

# Altre configurazioni
MAX_POINTS_PER_TRANSACTION=100
DEFAULT_RESTAURANT_NAME=Il Mio Ristorante
